@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600");
.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

* {
  user-select: none; }

body, html {
  height: 100%;
  background-color: #eee;
  font-size: 22px; }

.page-wrapper {
  height: 100%; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300; }

a {
  color: gold;
  text-decoration: none; }

a:hover, a:focus {
  color: #B300FF;
  text-decoration: none; }

.block {
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
  background-color: #eee; }
  .block i {
    margin-right: 30px;
    margin-top: 20px; }

.block__background {
  max-height: 100%;
  z-index: 1; }

.block__content {
  background-color: rgba(255, 255, 255, 0.97);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  word-wrap: break-word; }

.block_title {
  font-weight: 400;
  font-size: 350%; }

.block__content__title {
  font-weight: 100;
  font-size: 350%; }

.block__content__gallery-image {
  width: 100%;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.block__content__gallery-image__description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

.block__content__skill-icon {
  margin-right: 30px;
  font-size: 500%; }

.block__content__gallery-image__description:hover {
  background-color: rgba(0, 0, 0, 0.75); }

.block__content__gallery-image__description * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.card {
  border-radius: 4px;
  border-bottom: 3px solid #000;
  box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2; }

.row_padded {
  padding: 14% 0; }

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.bold {
  font-weight: 600; }

.red {
  color: red; }

.blue {
  color: blue; }

.h_100vh {
  min-height: 100vh; }

.margin_0 {
  margin: 0; }

@media (max-width: 768px) {
  body, html {
    font-size: 14px; }

  .block__content {
    padding: 5%; }

  .hero-block__content {
    width: 90%; } }
